body{
  background-color: #838383e3
}
p{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
.form{
  display: flex;
  justify-content: center;
}
.form button,
.form input{
  background: none;
  border: none;
  background-color: #00c3fffd;
  padding: 10px;
}
.form input{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form button{
  padding: 11px;
  border-left: #00ffb3 solid 1px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.resultsBox{
  display: flex;
  justify-content: center;
}
.results{
  list-style: none;
}
.results li{
  background-color: #00c3fffd;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .4s ease-out;
}
.results li:hover{
  background-color: #00ffb3;
}
.aqi{
  color: #fff;
  text-align: center;
  float: right;
  min-width: 20px;
  border-radius: 5px;
  margin-left: 10px;
}
.card{
  width: 250px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #00ffb3;
  border: 1px solid #00ffb3;
}
.number{
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 2px 12px;
}
